li:first-child{
    font-weight: bold;
}
a:last-child{
    color: red;
}
input:disabled{
    background-color: grey;
}
div > p{
    font-weight: 550;
}
a[href^="https"]{
    color: green;
}
input[type^="text"]{
    border: 1px solid blue;
}
li:first-child,
li:last-child{
    font-size: 24px;
}
div p{
    font-size: 16px;
}
input:checked{
    background-color: lightblue;
}
li > a{
    text-decoration: underline;
}
li:nth-child(even){
    font-weight: bold;
}
input[type="text"]:not([disabled]){
    background-color: grey;
}
p:first-child{
    font-size: 24px;
}
.special + li{
    text-decoration: line-through;
}
p:first-letter{
    font-size: 36px;
}
a:after{
    content: "↗";
}
