body {
    background-color: ghostwhite;
}

form {
    position: fixed;
}

.registration-form {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: calc(100vh - 580px);
    right: 0px;
    left: 0px;
    max-height: calc(100vh - 320px);
    max-width: calc(100vw - 1200px);
    min-height: 300px;
    min-width: 400px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-field {
    align-content: center;
    margin-top: 30px;
}

.form-field:last-child {
    margin-bottom: 20px;
}

.form-field > input{
    padding: 10px 30px;
    border: 3px solid darkorange;
    border-radius: 25px;
}

.form-field > input:active{
    border: 3px solid darkorange;
}

.push-down {
    margin-bottom: auto;
}

input[type="submit"] {
    border: none;
    background-color: darkorange;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

input[type="submit"]:hover {
    transform: translateY(-1px);
}

input[type="submit"]:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}